<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Report</title>
    <meta name="description" content="Report example">
  </head>

  <body>
    <article id="cover">
      <h1>Surat Permintaan Penghentian Sementara Transaksi Keuangan </h1>
      <img src="{{ img_path }}">
      
      <address>
        {{ nomor_rekening }}<br>
        {{ pemilik_rekening }}<br>
       
      </address>
      <address>
         {{ nama_bank }}<br>
        {{ nomor_akun }}
      </address>
    </article>

  </body>
</html>